services:
  - type: web
    name: secure-eval-platform
    env: docker
    plan: free
    region: singapore
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: GEMINI_API_KEY
        sync: false
