fastapi
uvicorn
python-dotenv
python-multipart
pydantic
opencv-python-headless
numpy
pillow
pytesseract
pdf2image
pypdf
google-generativeai
requests
firebase-admin
python-multipart
aiofiles
sqlmodel
passlib
bcrypt==4.0.1
python-jose[cryptography]
